button {
  background-color: #66548a !important; 
  color: #fff !important; 
  border-radius: 50px; 
  padding: 20px 50px; 
  font-size: 14px;
  height: 40px;
  width: 160px;
  &:hover {
    background-color: #574378 !important; 
  }
  &:disabled {
    background-color: #a8a1c4 !important; 
    cursor: not-allowed;
  }
  }
  