// Color Variables
$white-color: #ffffff;
$lavander-color :#EADDFF;
$red-color: #FF0000;
$dark-muted-purple: #66548a;
$dusky-violet: #574378;
$lavender-gray: #a8a1c4;
$muted-purple: #65558F;
$muted-lavender: #727073;







