// Color Variables
$white-color: #ffffff;
$black-color: rgba(0, 0, 0, 0.5);
$lavander-color: #eaddff;
$red-color: #ff0000;
$dark-muted-purple: #66548a;
$dusky-violet: #574378;

$lavander-color: #eaddff;
$lavender-gray: #a8a1c4;
$muted-purple: #65558f;
$muted-lavender: #727073;
