// Color Variables
$white-color: #ffffff;

$red-color: #ff0000;
$dusky-violet: #574378;

$lavander-color: #eaddff;
$lavender-gray: #a8a1c4;
$muted-lavender: #727073;

$dark-muted-purple: #66548a;
$muted-purple: #65558f;
