// Color Variables
$white-color: #ffffff;
$black-transparent: rgba(0, 0, 0, 0.5);
$red-color: #ff0000;
$dark-muted-purple: #66548a;
$dusky-violet: #574378;

$lavander-color: #eaddff;
$lavander-primary-light: #a79cc9;
$lavander-primary-dark: #4b4170;
$lavander-light: #f5f0ff;
$lavender-gray: #a8a1c4;
$muted-purple: #65558f;
$muted-lavender: #727073;
