@import '../../constants/Varibles';

$primary-color: $muted-lavender;
$secondary-color: $muted-purple;

.subtitle__primary {
  color: $primary-color;
}

.subtitle__secondary {
  color: $secondary-color;
}