@import '../../../../src/styles/varibles';

.container {
  height: 100%;
  width: 256px;
  box-shadow: 0px 0px 2px #171a1f;
  background-color: $muted-purple;
  color: $white-color;
  transition: width 0.2s;

  &__header {
    display: flex;
    padding: 1rem 0;
    height: 76px;
    justify-content: right;
    align-items: center;
    transition: justify-content 0.2s;
  }

  &__body {
    height: calc(100% - 76px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;

    &__menu {
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      scrollbar-width: none;
      &__item {
        display: flex;
        align-items: center;
        padding: 1rem;
        margin-bottom: 0.1rem;
        border-radius: 18px;
        cursor: pointer;

        &:hover {
          background-color: $lavender-gray;
        }

        &__title {
          margin: 0;
          margin-left: 1rem;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    &__footer {
      padding-top: 1rem;

      &__user-info {
        margin-left: 0.2rem;
      }
    }
  }

  &.closed {
    width: 83px;

    .container__header {
      justify-content: center;
    }
    .container__body__menu__item__title {
      margin-left: 0;
    }
  }

  .active-link {
    background-color: $lavender-gray;
    img {
      filter: invert(48%) sepia(86%) saturate(1679%) hue-rotate(159deg)
        brightness(91%) contrast(101%);
    }
  }

  .container__body__footer__user-info.only-client mp-ellipsis-text {
    padding-left: 26px;
  }
}
