@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';
@import './styles/varibles';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  color: $muted-purple;
}

.mat-form-field-subscript-wrapper,
.mat-hint,
.mat-error {
  min-height: $input-footer-height;
  height: $input-footer-height;
  line-height: $input-footer-height;
  display: block;
}

.mat-mdc-dialog-surface {
  --mdc-dialog-container-shape: 24px !important;
  border-radius: 36px !important;
  overflow: hidden;
}
