@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background-image: url('../src/app/assets/images/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    position: relative;

  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
